@using Microsoft.AspNetCore.Components.Forms
@using System.Linq.Expressions
@using System.Diagnostics.CodeAnalysis

<CascadingValue Value="this">
    <div class="btn-group" role="group">
        @ChildContent
    </div>
</CascadingValue>


@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    private InputQuickSelectButton ActiveButton;
    private List<InputQuickSelectButton> Buttons = new List<InputQuickSelectButton>();

    internal void AddButton(InputQuickSelectButton Button)
    {
        Buttons.Add(Button);
    }
    internal void ActivateButton(InputQuickSelectButton button)
    {
        ActiveButton = button;
        foreach (var item in Buttons)
        {
            if(item.Value != button.Value)
                item.Deactive();
            
        }
    }
}
