<CascadingValue Value="this">
    <div class="btn-group" role="group">
        @ChildContent
    </div>
</CascadingValue>


@code {
    [Parameter] public RenderFragment ChildContent { get; set; }

    public InputQuickSelectButton ActiveButton { get; set; }

    private List<InputQuickSelectButton> Buttons = new List<InputQuickSelectButton>();

    internal void AddButton(InputQuickSelectButton Button)
    {
        Buttons.Add(Button);
        if (Buttons.Count == 1)
            ActivateButton(Button);
    }
    internal void ActivateButton(InputQuickSelectButton button)
    {
        ActiveButton = button;
        button.IsActive = true;
        DeactiveButtons();
        StateHasChanged();
    }
    private void DeactiveButtons()
    {
        foreach(InputQuickSelectButton button in Buttons)
        {
            if (button != ActiveButton) button.IsActive = false;
        }
    }
}
