::deep .btn-check:active + .btn-info, .btn-check:checked + .btn-info, .btn-info.active, .btn-info:active, .show > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #1b8ca3;
    border-color: #116c7e;
}
::deep .btn-check:active + .btn-primary, .btn-check:checked + .btn-primary, .btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0a316a;
    border-color: #000204;
}
::deep .btn-check:active + .btn-dark, .btn-check:checked + .btn-dark, .btn-dark.active, .btn-dark:active, .show > .btn-dark.dropdown-toggle {
    color: rgb(255, 255, 255);
    background-color: rgb(100 100 100);
    border-color: rgb(126 126 126);
}
::deep .btn-check:active + .btn-light, .btn-check:checked + .btn-light, .btn-light.active, .btn-light:active, .show > .btn-light.dropdown-toggle {
    color: rgb(0, 0, 0);
    background-color: rgb(241 241 241);
    border-color: rgb(237 237 237);
}
::deep .btn-check:active + .btn-secondary, .btn-check:checked + .btn-secondary, .btn-secondary.active, .btn-secondary:active, .show > .btn-secondary.dropdown-toggle {
    color: rgb(255, 255, 255);
    background-color: rgb(50 55 58);
    border-color: rgb(24 26 28);
}
::deep .btn-check:active + .btn-success, .btn-check:checked + .btn-success, .btn-success.active, .btn-success:active, .show > .btn-success.dropdown-toggle {
    color: rgb(255, 255, 255);
    background-color: rgb(16 90 56);
    border-color: rgb(21 80 53);
}
::deep .btn-check:active + .btn-warning, .btn-check:checked + .btn-warning, .btn-warning.active, .btn-warning:active, .show > .btn-warning.dropdown-toggle {
    color: rgb(0, 0, 0);
    background-color: rgb(255 221 121);
    border-color: rgb(255 191 0);
}