@using System.Text
@if(_displayState == Display.Show)
{
    <div class="@_class" style=@(_height > 0  ? $"height: {_height}px;\"": "")>
        @ChildContent
    </div>    
}


@code {
    private string _class="progress";
    private int _height = 0;
    private Display _displayState = Display.Show;

    [Parameter]
    public int Height { set { _height = value; } }

    [Parameter]
    public Display DisplayState { set { _displayState = value; } }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> Attributes { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }

    public void Show()
    {
        _displayState = Display.Show;
        StateHasChanged();
    }
    public void Hide()
    {
        _displayState = Display.Hide;
        StateHasChanged();
    }

    public enum Display { Show, Hide }

    protected override void OnParametersSet()
    {
        var classString = new StringBuilder();
        classString.Append("progress");
        if (Attributes != null && Attributes.Keys.Any(x => x.Contains("class"))) classString.AppendFormat(" {0}", Attributes["class"]);
        _class = classString.ToString();
        base.OnParametersSet();
    }
}
